body{
	margin:0;
}

header {
	background-image:url('http://www.ingledow.co.uk/images/banner-background.png');
	background-repeat:repeat-x;
	height:121px;
	margin:0;
}

header section{
	width:970px;
	margin: 0 auto;
	display: block;
}

header section img{
	margin-left:85px;
}

header section a img{
	width:70px;
	height:auto;
}

#container{
	width:970px;
	margin: 0 auto;
	display: block;
}

#content{
	width:810px;
	margin: 40px 0 0 85px;
	border: #333 0px solid;
}

#content nav {
	border: #333 0px solid;
	width:100px;
	float:left;
	height:auto;
}

#content nav ul{
	margin:0;
	padding:0;
}

#content nav ul li{
	list-style: none;
	padding:0;
	margin:0;
	margin-top:-8px;
	font-family:"Din Display Pro Black", Helvetica, Arial, Verdana, sans-serif;
	font-weight:800;
	font-style:normal;
	line-height:2.0em;
	color: #999;
}

#content nav ul li a {
	font-family:"Din Display Pro Black", Helvetica, Arial, Verdana, sans-serif;
	font-size-adjust:0.5; 	font-weight:800;
	font-style:normal;
	line-height:2.0em;
	text-decoration:none;
	color: #999;
}

#content span.highlight a{
	color:#111;
	border-bottom:#111 1px solid;
	padding-bottom: -1px;
	text-decoration:none;
}

#content nav ul li a:hover{
	color:#444;
}

#work-nav{
	margin-bottom:10px;
}

#work-nav p {
	margin:5px 0 8px 5px;
}

#work-nav p:first-child {
	margin-top:0px;
}

#work-nav p a{
	font-family:"Din Display Pro Thin", Helvetica, Arial, Verdana, sans-serif;
	font-weight:100;
	font-style:normal;
	font-size: 0.85em;
	color:#999;
	line-height:1.2em;
	text-decoration:none;
}

#work-nav p a:hover{
	color:#444;
}

#content article {
	width:190px;
	height:auto;
	margin-left:10px;
	border: #333 0px solid;
	float: left;
	margin-top:-12px;
}

#content article p{
	font-family:"Din Display Pro Thin", Helvetica, Arial, Verdana, sans-serif;
	font-weight:100;
	font-style:normal;
	font-size: 0.85em;
	color:#333;
	line-height:1.2em;
}

#content article p a{
	color:#333;
}

#content article p span{
	text-align:right;
}

#content article h2{
	font-family:"Din Display Pro Black", Helvetica, Arial, Verdana, sans-serif;
	font-weight:800;
	font-style:normal;
	line-height:1.2em;
	text-decoration:none;
	font-size:0.9em;
	color: #333;
}

#content section {
	width:470px;
	border: #333 0px solid;
	float: left;
	height:100%;
	margin-left:30px;
}